# Part 1 - a simple keras model for the IMDB dataset

In [1]:
from keras.datasets import imdb

(train_data, train_labels), (test_data, test_labels) = imdb.load_data(num_words=10000)

/home/nickdbn/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

Downloading data from https://s3.amazonaws.com/text-datasets/imdb.npz
17465344/17464789 [==============================] - 14s 1us/step

In [2]:
train_data[0]

[1,
 14,
 22,
 16,
 43,
 530,
 973,
 1622,
 1385,
 65,
 458,
 4468,
 66,
 3941,
 4,
 173,
 36,
 256,
 5,
 25,
 100,
 43,
 838,
 112,
 50,
 670,
 2,
 9,
 35,
 480,
 284,
 5,
 150,
 4,
 172,
 112,
 167,
 2,
 336,
 385,
 39,
 4,
 172,
 4536,
 1111,
 17,
 546,
 38,
 13,
 447,
 4,
 192,
 50,
 16,
 6,
 147,
 2025,
 19,
 14,
 22,
 4,
 1920,
 4613,
 469,
 4,
 22,
 71,
 87,
 12,
 16,
 43,
 530,
 38,
 76,
 15,
 13,
 1247,
 4,
 22,
 17,
 515,
 17,
 12,
 16,
 626,
 18,
 2,
 5,
 62,
 386,
 12,
 8,
 316,
 8,
 106,
 5,
 4,
 2223,
 5244,
 16,
 480,
 66,
 3785,
 33,
 4,
 130,
 12,
 16,
 38,
 619,
 5,
 25,
 124,
 51,
 36,
 135,
 48,
 25,
 1415,
 33,
 6,
 22,
 12,
 215,
 28,
 77,
 52,
 5,
 14,
 407,
 16,
 82,
 2,
 8,
 4,
 107,
 117,
 5952,
 15,
 256,
 4,
 2,
 7,
 3766,
 5,
 723,
 36,
 71,
 43,
 530,
 476,
 26,
 400,
 317,
 46,
 7,
 4,
 2,
 1029,
 13,
 104,
 88,
 4,
 381,
 15,
 297,
 98,
 32,
 2071,
 56,
 26,
 141,
 6,
 194,
 7486,
 18,
 4,
 226,
 22,
 21,
 134,
 476,
 26,
 480,
 5,
 144,
 30,
 5535,
 18,
 51,
 36,
 28,
 224,
 92,
 25,
 104,
 4,
 226,
 65,
 16,
 38,
 1334,
 88,
 12,
 16,
 283,
 5,
 16,
 4472,
 113,
 103,
 32,
 15,
 16,
 5345,
 19,
 178,
 32]

Let's decode one of these reviews back into English

In [6]:
word_index = imdb.get_word_index()
reverse_word_index = dict(
    [(value, key) for (key, value) in word_index.items()])
decoded_review = ' '.join(
    [reverse_word_index.get(i - 3, '?') for i in train_data[0]])

In [7]:
decoded_review

"? this film was just brilliant casting location scenery story direction everyone's really suited the part they played and you could just imagine being there robert ? is an amazing actor and now the same being director ? father came from the same scottish island as myself so i loved the fact there was a real connection with this film the witty remarks throughout the film were great it was just brilliant so much that i bought the film as soon as it was released for ? and would recommend it to everyone to watch and the fly fishing was amazing really cried at the end it was so sad and you know what they say if you cry at a film it must have been good and this definitely was also ? to the two little boy's that played the ? of norman and paul they were just brilliant children are often left out of the ? list i think because the stars that play them all grown up are such a big profile for the whole film but these children are amazing and should be praised for what they have done don't you think the whole story was so lovely because it was true and was someone's life after all that was shared with us all"

In [9]:
train_data.shape

(25000,)

Let's prepare the data by padding the lists and turning them into a tensor.

In [12]:
import numpy as np
def vectorize_sequences (sequences, dimension = 10000):
    results = np.zeros((len(sequences), dimension))
    for i, sequence in enumerate(sequences):
        results[i, sequence] = 1.
    return results

In [38]:
x_train = vectorize_sequences (train_data)
x_test = vectorize_sequences (test_data)

In [39]:
y_train = np.asarray(train_labels).astype('float32').reshape(y_train.shape[0], 1)
y_test = np.asarray(test_labels).astype('float32').reshape(y_train.shape[0], 1)

x_train now has dimensions (m, n) where m is number of training examples and n is number of features (10,000 possible word features, in this case)

In [40]:
print ("x_train.shape = ", x_train.shape)
print ("x_test.shape = ", x_test.shape)
print ("y_train.shape = ", y_train.shape)
print ("y_test.shape = ", y_test.shape)

x_train.shape =  (25000, 10000)
x_test.shape =  (25000, 10000)
y_train.shape =  (25000, 1)
y_test.shape =  (25000, 1)

As we're going to be doing some quite intensive fitting of hyperparameters based on accuracy of the test set, we need a third dev set. Since the test set is generously sized, let's just split that in two.

In [41]:
x_dev = x_test[0: int(x_test.shape[0]/2),:]
y_dev = y_test[0: int(y_test.shape[0]/2),:]

x_test = x_test[int(x_test.shape[0]/2):-1, :]
y_test = y_test[int(y_test.shape[0]/2):-1, :]

In [42]:
print ("x_train.shape = ", x_train.shape)
print ("x_dev.shape = ", x_dev.shape)
print ("x_test.shape = ", x_test.shape)

print ("x_train.shape = ", x_train.shape)
print ("x_dev.shape = ", x_dev.shape)
print ("x_test.shape = ", x_test.shape)

x_train.shape =  (25000, 10000)
x_dev.shape =  (12500, 10000)
x_test.shape =  (12499, 10000)
x_train.shape =  (25000, 10000)
x_dev.shape =  (12500, 10000)
x_test.shape =  (12499, 10000)

# Initialize the network